.travel-card__budget {
    border: solid 1px;
    display: inline-flex;
    list-style: none;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: orange;

}

.travel-card__image {
 background-size: 20%;
}

.travel-card {
    flex: 0 0 auto;
}

.TravelsContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}